$dark-color: #333c5e;

$theme-colors: (
  'twitter': #00acee,
  'qiita': #00ca00,
  'linkedin': #0e76a8,
  'nav-bar': $dark-color,
  'title-left-bar': $dark-color,
);

@import '../node_modules/bootstrap/scss/bootstrap';

// navigation underline styles
.navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  border-bottom-color: currentColor;
}
