$dark-color: #333c5e;
$primary-blue: #2e86de;

$theme-colors: (
  'primary': $primary-blue,
  'twitter': #00acee,
  'qiita': #00ca00,
  'linkedin': #0e76a8,
  'nav-bar': $dark-color,
  'title-left-bar': $dark-color,
);

@import '../node_modules/bootstrap/scss/bootstrap';
